<launch>
  <arg name="pi_ip" default="192.168.0.99" />

  <machine name="pi" address="$(arg pi_ip)" user="root" password="passwhat" env-loader="/root/catkin_ws/src/load_env.sh"/>

  <group ns="surface_control">
    <node name="server" pkg="uwrov_server" type="main_server.py" output="screen"/>
    <node name="interface" pkg="uwrov_interface" type="launch_interface.bash"/>
    
    <node name="motors" pkg="nautilus_motors" type="pwm_publisher.py" output="screen"/>
  </group>

  <group ns="pi">
    <node machine="pi" name="motor_driver" pkg="uwrov_auto" type="motor_driver.py"/>
    <node machine="pi" name="manipulator_driver" pkg="uwrov_manipulator" type="manipulator_driver.py"/>
  </group>
</launch>
